<ol class="breadcrumb">
    <li><a href="#">系统</a></li>
    <li class="active"><a href="#">管理员列表</a></li>
</ol>

<ul id="myTab" class="nav nav-tabs" role="tablist">
    <li>
        <a class="item" href="#" ui-sref="system/master">管理员 </a>
    </li>
    <li class="active">
        <a class="item" href="#">分组 </a>
    </li>
    <li role="presentation" class="dropdown  pull-right">
        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents"
           aria-expanded="false">选项 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
            <li>
                <a class="ui item " ng-click="add()">
                    <span class="glyphicon glyphicon-plus text-success"></span> 添加
                </a>
            </li>
        </ul>
    </li>
</ul>
<br>
<table class="table-bordered table">
    <thead>
    <tr>
        <th class="text-center" width="200">id</th>
        <th class="text-center" width="200">名称</th>
        <th class="text-center" width="200">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="!list">
        <td colspan="10">
            空空如也..
        </td>
    </tr>
    <tr ng-repeat="v in list">
        <td>
            <span class="label label-default">{{v.id}}</span>
        </td>
        <td>{{v.name}}</td>
        <td>
            <a href="javascript:;" ng-click="update(v)">
                <i class="ui icon edit"></i>修改
            </a>
            |
            <a href="javascript:;" ng-click="remove(v.id)">
                <i class="ui icon trash"></i>删除
            </a>
        </td>
    </tr>
    </tbody>
</table>
<pagination config="page_config" total="total_count"></pagination>
