<div class="ui modal basic small">
    <div class="ui header icon">
        <i class="right warning circle icon"></i>
        {{title}}
    </div>
    <div class="content" ng-show="desc">
        <p>{{desc}}</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            取消
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            确定
        </div>
    </div>
</div>